body            { font-family: 'Georgia'; background: #eee; }
a, h1, h2       { color: #428bca; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.5em; margin:auto; }
h3              { font-family: 'Georgia'; font-size: 1.3em; }
table           { border-collapse: collapse;}
table, td, th   { border: 1px solid #ccc; font-size:0.85em;}
th  			{text-align: center}

.page           { margin: 2em; width:70em auto; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 1em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.metanav2        { text-align: center; font-size: 1.0em; padding: 0.3em;
                  margin-bottom: 1em;}
.metanav3        { text-align: center;
					right:0; left:0;}
.metanav4        { text-align: left; font-size: 1.0em; padding: 0.3em;
                  margin-bottom: 1em;}
.flash          { text-align: center; background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.show_part_table { border: 1px solid #ccc; font-size:1.1em;}

#inputfile
{
width:250px;
margin:auto;   
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

.input-group{
width: 130px;
  margin: 30px auto;
  
}


