{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function(){
    var options_POs = {{ POs|safe }} 
    $("#PO").autocomplete({
        source: options_POs
    });
    var options_PRs = {{ PRs|safe }} 
    $("#PR").autocomplete({
        source: options_PRs
    });
    var options_project_names = {{ project_names|safe }} 
    $("#project_names").autocomplete({
        source: options_project_names
    });
    var options_requestors = {{ requestors|safe }}
    $("#requestors").autocomplete({
        source: options_requestors
    });
    var options_suppliers = {{ suppliers|safe }}
    $("#suppliers").autocomplete({
        source: options_suppliers
    });
    var options_supplier_contacts = {{ supplier_contacts|safe }}
    $("#supplier_contacts").autocomplete({
        source: options_supplier_contacts
    });
    var options_item_descriptions = {{ item_descriptions|safe }}
    $("#item_descriptions").autocomplete({
        source: options_item_descriptions
    });
    var options_CPN = {{ CPNs|safe }}
    $("#CPN").autocomplete({
        source: options_CPN
    });
    var options_PID = {{ PIDs|safe }}
    $("#PID").autocomplete({
        source: options_PID
    });
    var options_manufacturer = {{ manufacturer_part_nums|safe }}
    $("#manufacturer_part_num").autocomplete({
        source: options_manufacturer
    });
    var options_tracking = {{ tracking|safe }}
    $("#tracking").autocomplete({
        source: options_tracking
    });
    var options_location = {{ location|safe }}
    $("#location").autocomplete({
        source: options_location
    });
    $( "#submit_date" ).datepicker();
    $('.btn-number').click(function(e){
        e.preventDefault();
        
        var fieldName = $(this).attr('data-field');
        var type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {
                var minValue = parseInt(input.attr('min')); 
                if(!minValue) minValue = 1;
                if(currentVal > minValue) {
                    input.val(currentVal - 1).change();
                } 
                if(parseInt(input.val()) == minValue) {
                    $(this).attr('disabled', true);
                }
    
            } else if(type == 'plus') {
                var maxValue = parseInt(input.attr('max'));
                if(!maxValue) maxValue = 999;
                if(currentVal < maxValue) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == maxValue) {
                    $(this).attr('disabled', true);
                }
    
            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
       $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
        
        var minValue =  parseInt($(this).attr('min'));
        var maxValue =  parseInt($(this).attr('max'));
        if(!minValue) minValue = 1;
        if(!maxValue) maxValue = 999;
        var valueCurrent = parseInt($(this).val());
        
        var name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value is 1');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value has been reached');
            $(this).val($(this).data('oldValue'));
        }
        
        
    });
    $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                 // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) || 
                 // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
    });
});
</script>

<h2>Adding Existing Part</h2>
<br>
<form class="form-horizontal" role="form" method=post action="">
    {{ form.csrf_token }}
    <div>
        <label>PR: </label> {{ form.PR(placeholder=part.PR) }}
        <span class="error">
        {% if form.PR.errors %}
            {% for error in form.PR.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        <p>
        <label>PO: </label> {{ form.PO(placeholder=part.PO) }}
        <span class="error">
        {% if form.PO.errors %}
            {% for error in form.PO.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>
        <label>Part: </label> 
        {% if part_default == 'DIMM' %}
            <select name='part'>
                <option value="DIMM" selected="selected">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'CPU' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU" selected="selected">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'HDD' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD" selected="selected">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'MEZZ-CARD' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD" selected="selected">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'GPU' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU" selected="selected">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'RAID-UNIT' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT" selected="selected">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'TPM' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM" selected="selected">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'PSU' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU" selected="selected">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'CHASSIS' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS" selected="selected">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'HEATSINK' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK" selected="selected">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% elif part_default == 'PROTOTYPE' %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE" selected="selected">PROTOTYPE</option>
                <option value="OTHER">OTHER</option>
            </select>
        {% else %}
            <select name='part'>
                <option value="DIMM">DIMMs</option>
                <option value="CPU">CPU</option>
                <option value="HDD">HDD</option>
                <option value="MEZZ-CARD">MEZZ-CARD</option>
                <option value="GPU">GPU</option>
                <option value="RAID-UNIT">RAID-UNIT</option>
                <option value="TPM">TPM</option>
                <option value="PSU">PSU</option>
                <option value="CHASSIS">CHASSIS</option>
                <option value="HEATSINK">HEATSINK</option>
                <option value="PROTOTYPE">PROTOTYPE</option>
                <option value="OTHER" selected="selected">OTHER</option>
            </select>
        {% endif %}
        </p>   


        <p>
        <label>Project: </label> {{ form.project_name(placeholder=part.project_name) }}
        <span class="error">
        {% if form.project_name.errors %}
            {% for error in form.project_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>
        <label>Requestor: </label> {{ form.requestor(placeholder=part.requestor) }}
        <span class="error">
        {% if form.requestor.errors %}
            {% for error in form.requestor.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Supplier: </label>{{ form.supplier(placeholder=part.supplier, size=40) }}
        <span class="error">
        {% if form.supplier.errors %}
            {% for error in form.supplier.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Supplier Contact: <label> {{ form.supplier_contact(placeholder=part.supplier_contact, size=40) }}
        <span class="error">
        {% if form.supplier_contact.errors %}
            {% for error in form.supplier_contact.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Item Description: </label> {{ form.item_description(placeholder=part.item_description, size=60) }}
        <span class="error">
        {% if form.item_description.errors %}
            {% for error in form.item_description.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>CPN: </label> {{ form.CPN(placeholder=part.CPN) }}
        <span class="error">
        {% if form.CPN.errors %}
            {% for error in form.CPN.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>
        <label>PID: </label> {{ form.PID(placeholder=part.PID) }}
        <span class="error">
        {% if form.PID.errors %}
            {% for error in form.PID.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label> Manufacturer Part #: </label> {{ form.manufacturer_part_num(placeholder=part.manufacturer_part_num, size=30) }}
        <span class="error">
        {% if form.manufacturer_part_num.errors %}
            {% for error in form.manufacturer_part_num.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
    
        <p>
        <label> Serial Number: </label>
        {{ form.SN(placeholder="S/N (Qty must be 1)") }}
        <span class="error">
        {% if form.SN.errors %}
            {% for error in form.SN.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Trancking info: </label> {{ form.tracking(placeholder=part.tracking, size=30) }}
        <span class="error">
        {% if form.tracking.errors %}
            {% for error in form.tracking.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Status: </label> 
        {% if status_default == 'Available' %}
            <select name='status'>
                <option value="Available" selected="selected">Available</option>
                <option value="Unavailable">Unavailable</option>
            </select>
        {% else %}
            <select name='status'>
                <option value="Available">Available</option>
                <option value="Unavailable" selected="selected">Unavailable</option>
            </select>
        {% endif %}
        </p>

        <label>Qty to be Added: 
        <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="qty">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="qty" class="form-control input-number" value="1">
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="qty">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
        </div>
        </label>
        
        <p>
        <label>Location: </label> {{ form.location(placeholder=part.location, size=25) }}
        <span class="error">
        {% if form.location.errors %}
            {% for error in form.location.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Date: </label> {{ form.submit_date(placeholder=part.submit_date) }}
        <span class="error">
        {% if form.submit_date.errors %}
            {% for error in form.submit_date.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
    </div>    
    <input type="hidden" value={{id}} name="id">
    <input type="hidden" value={{part.qty}} name="qty">

    <div class="metanav2">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>  
</form>
{% endblock %}