{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-dataTables.js') }}"></script>
    <script>

    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="min-width: 50px; max-width: 90px" placeholder="Search '+title+'" />' );
        } );
 
        // DataTable
        var table = $('#example').DataTable();
 
        // Apply the search
        table.columns().every( function () {
            var that = this;
 
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
    </script>

	<h2>Checked out Parts</h2><br>

    {% if user == 'admin' %}
    <div class=metanav>
    <dul class="nav nav-pills">
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation"><a href="{{ url_for('show_requests') }}">Requests</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('list_checkedout_parts') }}">Checked Out Parts</a></li>
        <li role="presentation"><a href="{{ url_for('upload_file') }}">Import from spreadsheet</a></li>
    </ul>    
    </div>
    <br>
    {%else%}
    <div class=metanav>
    <dul class="nav nav-pills">  
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('return_part') }}">My Parts</a></li>
        <li role="presentation"><a href="{{ url_for('show_requests') }}">Requests</a></li>    
    </ul>
    </div>
    <br>
    {%endif%}

      {% if checkedout_parts %}
      <table id="example" class="display" cellspacing="0" width="100%">
        <em>Click on Part to display all attributes</em> 
        <thead> 
        <tr>
          <th>PR</th>
          <th>PO</th>
          <th>Part</th>
          <th>Supplier</th>
          <th>Item Description</th>
          <th>CPN</th>
          <th>PID</th>
          <th>MFG Part#</th>
          <th>Update</th>
        </tr>
      </thead>
      <tfoot> 
        <tr>
          <th>PR</th>
          <th>PO</th>
          <th>Part</th>
          <th>Supplier</th>
          <th>Item Description</th>
          <th>CPN</th>
          <th>PID</th>
          <th>MFG Part#</th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
         {% for part in checkedout_parts %}
            <tr>
              <td> {{part.PR}} </td>
              <td> {{part.PO}} </td>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.PID}} </td>
              <td> {{part.manufacturer_part_num}} </td>
                <td>
                  <a href="{{ url_for('confirm_update', part_id=part.id) }}" class="btn btn-success">Update</a>
                </td>
            </tr>
          {% endfor %}
            </tbody>
          </table>
 
            <div class="metanav2">
                <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
            </div>
          {% else %}
              <div class='metanav2'> 
                <em> Oops, No Results Found!  </em><br><br>
                <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
              </div>
          {% endif %}




{% endblock %}