{% extends "layout.html" %}
{% block body %}
    <script>
        $( document ).ready(function() {
            $(".select").each(function() {
                    var select = $('<select>', {name: "qty"});
                    for (var i = this.id; i >= 1; i--) {
                        $('<option>', {value: i, text: i}).appendTo(select);
                    }
                    select.appendTo(this);
            });
        });
    </script>
    <h2>Confirm Return</h2><br>

    <form class="form-signin" role="form" method="post" action="">

        <em>Parts to Return: </em>
        <table class="table table-striped">
           <th>part</th>
           <th>Project</th>
           <th>Supplier</th>
           <th>Item Description</th>
           <th>CPN</th>
           <th>PID</th>
           <th>MFG Part#</th>
           <th>Location</th>
           <th>Qty</th>
           
            <tr>
              <td><a href="{{ url_for('show_part_info', id=return_part.id) }}">{{return_part.part}}</a></td>
              <td> {{return_part.project_name}} </td>
              <td> {{return_part.supplier}} </td>
              <td> {{return_part.item_description}} </td>
              <td> {{return_part.CPN}} </td>
              <td> {{return_part.PID}} </td>
              <td> {{return_part.manufacturer_part_num}} </td>
              <td> {{return_part.location}} </td>
              {% if return_part.qty == '1' %}
                  <td> {{return_part.qty}} </td>
              {% else %}
                  <td class="select" id="{{return_part.qty}}"></td>
              {% endif %}
              
            </tr>

           <input type="hidden" value={{return_part.id}} name="return_id">

        </table>
        <div class="metanav2">
            <input type=submit class="btn btn-primary" value="Confirm Return">
        </div>
   </form><br>
{% endblock %}