{% extends "layout.html" %}
{% block body %}
    <script>
        $( document ).ready(function() {
            $(".select").each(function() {
                    var select = $('<select>', {name: "qty"});
                    for (var i = this.id; i >= 1; i--) {
                        $('<option>', {value: i, text: i}).appendTo(select);
                    }
                    select.appendTo(this);
            });
        });
    </script>
    <h2>Confirm Return</h2><br>

    <form action="{{ url_for('confirm_return') }}" method=post class=add_entry>

        <em>Parts to Return: </em>
        <table class="table table-striped">
           <th>PR</th>
           <th>PO</th>
           <th>part</th>
           <th>Project</th>
           <th>Supplier</th>
           <th>Item Description</th>
           <th>CPN</th>
           <th>PID</th>
           <th>MFG Part#</th>
           <th>Qty</th>

            {% for part in return_parts %}
            <tr>
              <td> {{part.PR}} </td>
              <td> {{part.PO}} </td>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.project_name}} </td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.PID}} </td>
              <td> {{part.manufacturer_part_num}} </td>
              {% if part.qty == '1' %}
                  <td> {{part.qty}} </td>
              {% else %}
                  <td class="select" id="{{part.qty}}"></td>
              {% endif %}
            </tr>
            {% endfor %}

        {% for ids in return_ids %}
           <input type="hidden" value="{{ids}}" name="return_ids">
        {% endfor %}
        </table>
        <div class="metanav2">
            <input type=submit class="btn btn-primary" value="Confirm Return">
        </div>
   </form><br>
{% endblock %}