{% extends "layout.html" %}
{% block body %}
    <h2>Confirm Delete</h2><br>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script>
        $( document ).ready(function() {
            $(".select").each(function() {
                    var select = $('<select>', {name: "qty"});
                    for (var i = this.id; i >= 1; i--) {
                        $('<option>', {value: i, text: i}).appendTo(select);
                    }
                    select.appendTo(this);
            });
        });
    </script>

    <form action="{{ url_for('confirm_delete') }}" method=post class=add_entry>

        <em>Please select quantities of parts to Delete: </em>
        <table class="table table-striped">
           <th>PO</th>
           <th>part</th>
           <th>Project</th>
           <th>Supplier</th>
           <th>Item Description</th>
           <th>CPN</th>
           <th>PID</th>
           <th>MFG Part#</th>
           <th>Status</th>
           <th>Location</th>
           <th>Used</th>
           <th>Qty</th>
           

            {% for part in delete_parts %}
            <tr>
              <td> {{part.PO}} </td>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.project_name}} </td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.PID}} </td>
              <td> {{part.manufacturer_part_num}} </td>
              <td> {{part.status}} </td>
              <td> {{part.tracking}} </td>
              {% if part.times_used == 0 %}
                  <td> {{part.times_used}} </td>
              {% else %}
                  <td><a href="{{ url_for('show_history', serialNumber=part.id) }}">{{part.times_used}}</a></td>
              {% endif %}
              {% if part.qty == '1' %}
                  <td> {{part.qty}} </td>
              {% else %}
                  <td class="select" id="{{part.qty}}"></td>
              {% endif %}
            </tr>
            {% endfor %}

        {% for ids in delete_ids %}
           <input type="hidden" value="{{ids}}" name="delete_ids">
        {% endfor %}
        </table>
        <div class="metanav2">
            <em> WARNING: These parts will be deleted from database</em><br><br>
            <input type=submit class="btn btn-primary" value="Confirm delete">
        </div>
   </form><br>
{% endblock %}