{% extends "layout.html" %}
{% block body %}
<script>
    $(document).ready(function(){
        $("#return_date").datepicker({
        	changeMonth: true,
        	changeYear: true,
        	minDate: 0
    	});
	    var options_projects = {{ project_names|safe }}
	    $("#project").autocomplete({
	        source: options_projects
	    });
	    var options_location = {{ location|safe }}
    	$("#location").autocomplete({
        	source: options_location
    	});
	    $( document ).ready(function() {
	        $(".select").each(function() {
	                var select = $('<select>', {name: "qty"});
	                for (var i = this.id; i >= 1; i--) {
	                    $('<option>', {value: i, text: i}).appendTo(select);
	                }
	                select.appendTo(this);
	        });
	    });
	});
</script>

<h2>Check out a Part</h2><br>

Please select the quantity and confirm checkout: <br><br>
<form class="form-signin" role="form" method="post" action="">
	{{ form.csrf_token }}
    <table class="table table-striped">

    	<th>Part</th>
    	<th>Item Description</th>
    	<th>Supplier</th>
    	<th>CPN</th>
    	<th>PID</th>
    	<th>MFG Part#</th>
    	<th>Qty</th>

        <tr>
            <td><a href="{{ url_for('show_part_info', id=part.id) }}"> {{part.part}} </a></td>
            <td> {{part.item_description}} </td>
            <td> {{part.supplier}} </td>
            <td> {{part.CPN}} </td>
            <td> {{part.PID}} </td>
            <td> {{part.manufacturer_part_num}} </td>
            {% if part.qty == '1' %}
                <td> {{part.qty}} </td>
            {% else %}
                <td class="select" id="{{part.qty}}"></td>
            {% endif %}

        </tr>


    </table>

    <input type="hidden" value="{{part.id}}" name="checkout_id">
    
 	<div class='metanav2'>
 	<em> Please fill out the following:</em><br><br>
	<p>
	{{ form.project(placeholder="project name") }}
	<span class="error">
	{% if form.project.errors %}
		{% for error in form.project.errors %}
			{{ error }}
		{% endfor %}
	{% endif %}
	</span>
	</p>
	<p>
	{{ form.location(placeholder="location") }}
	<span class="error">
	{% if form.location.errors %}
		{% for error in form.location.errors %}
			{{ error }}
		{% endfor %}
	{% endif %}
	</span>
	</p>
	<p>
	{{ form.return_date(placeholder="use until [approx. date]") }}
	<span class="error">
	{% if form.return_date.errors %}
		{% for error in form.return_date.errors %}
			{{ error }}
		{% endfor %}
	{% endif %}
	</span>
	</p>
	<p>
	{{ form.details(placeholder="Brief description of use", size=30) }}
	<span class="error">
	{% if form.details.errors %}
		{% for error in form.details.errors %}
			{{ error }}
		{% endfor %}
	{% endif %}
	</span>
	</p>
	<div>   

		
{% if part.current_user == 'admin' or part.current_user == None or part.current_user == 'None' %} 
<em> Note: A request for the part will be sent to Admin </em><br> 
	<button class="btn btn-primary" type="submit">Confirm Checkout</button>
{% else %}
<em> Note: A request for the part will be sent to {{part.current_user}}</em><br> 
	<button class="btn btn-danger" type="submit">Send Request</button>
{% endif %}
</form>

{% endblock %}