{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function(){
    var options_parts = {{ parts|safe }} 
    $("#parts").autocomplete({
        source: options_parts
    });
    var options_project_names = {{ project_names|safe }} 
    $("#project_names").autocomplete({
        source: options_project_names
    });
    var options_requestors = {{ requestors|safe }}
    $("#requestors").autocomplete({
        source: options_requestors
    });
    var options_suppliers = {{ suppliers|safe }}
    $("#suppliers").autocomplete({
        source: options_suppliers
    });
    var options_supplier_contacts = {{ supplier_contacts|safe }}
    $("#supplier_contacts").autocomplete({
        source: options_supplier_contacts
    });
    var options_item_descriptions = {{ item_descriptions|safe }}
    $("#item_descriptions").autocomplete({
        source: options_item_descriptions
    });
    var options_CPN = {{ CPNs|safe }}
    $("#CPN").autocomplete({
        source: options_CPN
    });
    var options_PID = {{ PIDs|safe }}
    $("#PID").autocomplete({
        source: options_PID
    });
    var options_manufacturer = {{ manufacturer_part_nums|safe }}
    $("#manufacturer_part_num").autocomplete({
        source: options_manufacturer
    });
    var options_tracking = {{ tracking|safe }}
    $("#tracking").autocomplete({
        source: options_tracking
    });
    var options_location = {{ location|safe }}
    $("#location").autocomplete({
        source: options_location
    });
    
    $( "#submit_date" ).datepicker();
});
</script>

<h2>Update Part</h2>
<br>
<form class="form-horizontal" role="form" method=post action="">
    {{ form.csrf_token }}
    <div>
        <label>PR: </label> {{ form.PR(placeholder=part.PR) }}
        <span class="error">
        {% if form.PR.errors %}
            {% for error in form.PR.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        <p>
        <label>PO: </label> {{ form.PO(placeholder=part.PO) }}
        <span class="error">
        {% if form.PO.errors %}
            {% for error in form.PO.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>    
        <p>
        <label>Part: </label> {{ form.part(placeholder=part.part) }}
        <span class="error">
        {% if form.part.errors %}
            {% for error in form.part.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Project: </label> {{ form.project_name(placeholder=part.project_name) }}
        <span class="error">
        {% if form.project_name.errors %}
            {% for error in form.project_name.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>
        <label>Requestor: </label> {{ form.requestor(placeholder=part.requestor) }}
        <span class="error">
        {% if form.requestor.errors %}
            {% for error in form.requestor.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Supplier: </label>{{ form.supplier(placeholder=part.supplier, size=35) }}
        <span class="error">
        {% if form.supplier.errors %}
            {% for error in form.supplier.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Supplier Contact: <label> {{ form.supplier_contact(placeholder=part.supplier_contact, size=30) }}
        <span class="error">
        {% if form.supplier_contact.errors %}
            {% for error in form.supplier_contact.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>Item Description: </label> {{ form.item_description(placeholder=part.item_description, size=40) }}
        <span class="error">
        {% if form.item_description.errors %}
            {% for error in form.item_description.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label>CPN: </label> {{ form.CPN(placeholder=part.CPN) }}
        <span class="error">
        {% if form.CPN.errors %}
            {% for error in form.CPN.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
        
        <p>
        <label>PID: </label> {{ form.PID(placeholder=part.PID) }}
        <span class="error">
        {% if form.PID.errors %}
            {% for error in form.PID.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
      
        <p>
        <label> Manufacturer Part #: </label> {{ form.manufacturer_part_num(placeholder=part.manufacturer_part_num, size=30) }}
        <span class="error">
        {% if form.manufacturer_part_num.errors %}
            {% for error in form.manufacturer_part_num.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
    
        {% if part.SN %}

            <label> Serial Number: </label> {{ form.SN(placeholder=part.SN, size=25) }}
            <span class="error">
            {% if form.SN %}
                {% for error in form.SN.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </span>
            </p>

        {% endif %}

        <p>
        <label>Trancking info: </label> {{ form.tracking(placeholder=part.tracking, size=30) }}
        <span class="error">
        {% if form.tracking.errors %}
            {% for error in form.tracking.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Status: </label> 
        {% if status_default == 'Available' %}
            <select name='status'>
                <option value="Available" selected="selected">Available</option>
                <option value="Unavailable">Unavailable</option>
            </select>
        {% else %}
            <select name='status'>
                <option value="Available">Available</option>
                <option value="Unavailable" selected="selected">Unavailable</option>
            </select>
        {% endif %}

        </p>

        <p>
        <label>Location: </label> {{ form.location(placeholder=part.location, size=25) }}
        <span class="error">
        {% if form.location.errors %}
            {% for error in form.location.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>

        <p>
        <label>Date: </label> {{ form.submit_date(placeholder=part.submit_date) }}
        <span class="error">
        {% if form.submit_date.errors %}
            {% for error in form.submit_date.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        </span>
        </p>
    </div>    
    <input type="hidden" value={{update_id}} name="update_id">
    <input type="hidden" value={{part.qty}} name="update_qty">


    <button class="btn btn-success" type="submit">Confirm Update</button>
</form>
{% endblock %}