{% extends "layout.html" %}
{% block body %}
    <h2>Delete a Part</h2><br>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-dataTables.js') }}"></script>
    <script>

    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="min-width: 50px; max-width: 90px" placeholder="Search '+title+'" />' );
        } );
 
        // DataTable
        var table = $('#example').DataTable();
 
        // Apply the search
        table.columns().every( function () {
            var that = this;
 
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
    </script>
    <script>
        $(document).ready(function() {
            $('#selecctall').click(function(event) {  //on click
                if(this.checked) { // check select status
                    $('.checkbox1').each(function() { //loop through each checkbox
                        this.checked = true;  //select all checkboxes with class "checkbox1"              
                    });
                }else{
                    $('.checkbox1').each(function() { //loop through each checkbox
                        this.checked = false; //deselect all checkboxes with class "checkbox1"                      
                    });        
                }
            });
           
        });
    </script>

    <form action="{{ url_for('delete_part') }}" method=post class=add_entry>

        <em>Select part(s) to delete: </em>
        <input text-align='right' type="checkbox" id="selecctall"/> Select All
        
        <table id="example" class="display" cellspacing="0" width="100%">
          <col width="80">
          <thead> 
           <th></th>
           <th>PO</th>
           <th>Part</th>
           <th>Project</th>
           <th>Supplier</th>
           <th>Item Description</th>
           <th>CPN</th>
           <th>MFG Part#</th>
           <th>Qty</th>
           <th>Status</th>
          </thead> 
          <tfoot> 
           <th></th>
           <th>PO</th>
           <th>Part</th>
           <th>Project</th>
           <th>Supplier</th>
           <th>Item Description</th>
           <th>CPN</th>
           <th>MFG Part#</th>
           <th>Qty</th>
           <th>Status</th>
          </tfoot> 


          <tbody>
           {% for part in parts %}
            <tr>
              <td><input type=checkbox class='checkbox1' name='do_delete' value="{{part.id}}"></td>
              <td> {{part.PO}} </td>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.project_name}} </td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.manufacturer_part_num}} </td>
              <td> {{part.qty}} </td>
              <td> {{part.status}} </td>
            </tr>
           {% endfor %}
         </tbody>
        </table>
        <div class="metanav2">
            <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/> <input type=submit class="btn btn-default" value="delete">
        </div>
   </form><br>
{% endblock %}