{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dynamicFilter.js') }}"></script>
  <h1>Keyword Search</h1>
  <br>
  <h2>Results for '{{keyword}}':</h2><br>
  <div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="active" ><a href="#available" role="tab" data-toggle="tab">Available</a></li>
      <li><a href="#unavailable" role="tab" data-toggle="tab">Unavailable</a></li>
    </ul>

    <form action="{{ url_for('part_search', type=type) }}" method=post class=add_entry>

      <div class="tab-content">

        <div class="tab-pane fade active in" id="available">

          {% if part_available %}

            <em>Parts Available:  </em><input type="text" id="search" placeholder="Type to filter">
            <table id="table">
              <th></th>
              <th>Part</th>
              <th>Item Description</th>
              <th>Supplier</th>
              <th>CPN</th>
              <th>PID</th>
              <th>MFG Part#</th>
              <th>Qty</th>
              <th>Times Used</th>
              <th>status</th>


              {% for part in part_available %}
              <tr>
                <td><input type=checkbox name='do_checkout' value="{{part.id}}"></td>
                <td> {{part.part}} </td>
                <td> {{part.item_description}} </td>
                <td> {{part.supplier}} </td>
                <td> {{part.CPN}} </td>
                <td> {{part.PID}} </td>
                <td> {{part.manufacturer_part_num}} </td>
                <td> {{part.qty}} </td>
                <td> {{part.times_used}} </td>
                <td> {{part.status}} </td>
              </tr>
              {% endfor %}
            </table>
            <div class="metanav2">
                <input type=submit class="btn btn-default" value="check out"><br><br>
            </div>
          {% else %}
            <em> No Parts Available </em>
          {% endif %}
        </div>

        <div class="tab-pane fade" id="unavailable">
          {% if part_unavailable %}

            <em>Parts Unvailable:  </em><input type="text" id="search2" placeholder="Type to filter">
            <table id="table2">
              <th>part</th>
              <th>Supplier</th>
              <th>Item Description</th>
              <th>CPN</th>
              <th>PID</th>
              <th>MFG Part#</th>
              <th>Project</th>
              <th>User</th>
              <th>Qty</th>
              <th>Last used</th>
              <th>Will be returned</th> 

              {% for part in part_unavailable %}
                <tr>
                  <td> {{part.part}} </td>
                  <td> {{part.supplier}} </td>
                  <td> {{part.item_description}} </td>
                  <td> {{part.CPN}} </td>
                  <td> {{part.PID}} </td>
                  <td> {{part.manufacturer_part_num}} </td>
                  <td> {{part.current_project}} </td>
                  <td> {{part.current_user}} </td>
                  <td> {{part.qty}} </td>
                  <td> {{part.checkout_date}} </td>
                  <td> {{part.return_date}} </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <em> No Parts </em>
          {% endif %}
        </div>
      </div>
    </form>
  </div>



{% endblock %}