{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-dataTables.js') }}"></script>
    <script>

    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="min-width: 50px; max-width: 90px" placeholder="Search '+title+'" />' );
        } );
 
        // DataTable
        var table = $('#example').DataTable();
 
        // Apply the search
        table.columns().every( function () {
            var that = this;
 
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
    </script>
    <script>

    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example2 tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="min-width: 50px; max-width: 90px" placeholder="Search '+title+'" />' );
        } );
 
        // DataTable
        var table = $('#example2').DataTable();
 
        // Apply the search
        table.columns().every( function () {
            var that = this;
 
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
    </script>
  <h1>{{keyword}}</h1><br>
  <h2>Check out a Part</h2>

  <p><em>Select part(s) to check out: </em></p>
    
  <div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="active" ><a href="#available" role="tab" data-toggle="tab">Available</a></li>
      <li><a href="#unavailable" role="tab" data-toggle="tab">Unavailable</a></li>
    </ul>

    

      <div class="tab-content">

        <div class="tab-pane fade active in" id="available">

          {% if part_available %}

            <br><p><em>{{keyword}}'s Available:  </em>
            <table id="example" class="display" cellspacing="0" width="100%">
              <thead> 
                <tr>
                  <th>Part</th>
                  <th>Item Description</th>
                  <th>Supplier</th>
                  <th>CPN</th>
                  <th>PID</th>
                  <th>MFG Part#</th>
                  <th>Qty</th>
                  <th>Location</th>
                  <th>Times Used</th>
                  <th>Check out</th>
                </tr>
              </thead>
              <tfoot> 
                <tr>
                  <th>Part</th>
                  <th>Item Description</th>
                  <th>Supplier</th>
                  <th>CPN</th>
                  <th>PID</th>
                  <th>MFG Part#</th>
                  <th>Qty</th>
                  <th>Location</th>
                  <th>Times Used</th>
                </tr>
              </tfoot>

              <tbody>
              {% for part in part_available %}
              <tr>
                <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
                <td> {{part.item_description}} </td>
                <td> {{part.supplier}} </td>
                <td> {{part.CPN}} </td>
                <td> {{part.PID}} </td>
                <td> {{part.manufacturer_part_num}} </td>
                <td> {{part.qty}} </td>
                <td> {{part.location}} </td>
                {% if part.times_used == 0 %}
                  <td> {{part.times_used}} </td>
                {% else %}
                  <td><a href="{{ url_for('show_history', serialNumber=part.id) }}">{{part.times_used}}</a></td>
                {% endif %}
                <td align=center>
                  <a href="{{ url_for('send_request', part_id=part.id) }}" class="btn btn-primary">Check out</a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
            </table>
            <div class="metanav2">
                <input action='action' type="button" class='btn btn-default' value='Go Back' onclick="window.history.go(-1); return false;"/> 
            </div>
          {% else %}
            <br><div class="metanav2"><em> Oops, No Results Found!</em></div>
              <div class='metanav2'> 
                <input action='action' type="button" class='btn btn-default' value='Go Back' onclick="window.history.go(-1); return false;"/>
              </div>
          {% endif %}
        </div>

        <div class="tab-pane fade" id="unavailable">
          {% if part_unavailable %}

            <em>{{keyword}}'s Unavailable:  </em>
            <table id="example2" class="display" cellspacing="0" width="100%">
              <thead> 
                <tr>
                  <th>Part</th>
                  <th>Supplier</th>
                  <th>Item Description</th>
                  <th>CPN</th>
                  <th>PID</th>
                  <th>MFG Part#</th>
                  <th>Project</th>
                  <th>Qty</th>
                  <th>Times Used</th>
                  <th>Will be returned</th>
                  <th>Check out</th>
                </tr>
              </thead>
              <tfoot> 
                <tr>
                  <th>Part</th>
                  <th>Supplier</th>
                  <th>Item Description</th>
                  <th>CPN</th>
                  <th>PID</th>
                  <th>MFG Part#</th>
                  <th>Project</th>
                  <th>Qty</th>
                  <th>Times Used</th>
                  <th>Will be returned</th>
                </tr>
              </tfoot>
              <tbody>
              {% for part in part_unavailable %}
              
                <tr>
                  <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
                  <td> {{part.supplier}} </td>
                  <td> {{part.item_description}} </td>
                  <td> {{part.CPN}} </td>
                  <td> {{part.PID}} </td>
                  <td> {{part.manufacturer_part_num}} </td>
                  <td> {{part.current_project}} </td>
                  <td> {{part.qty}} </td>
                  {% if part.times_used == 0 %}
                      <td> {{part.times_used}} </td>
                  {% else %}
                      <td><a href="{{ url_for('show_history', serialNumber=part.id) }}">{{part.times_used}}</a></td>
                  {% endif %}
                  <td> {{part.return_date}} </td>
                  <td align=center>
                    <a href="{{ url_for('send_request', part_id=part.id) }}" class="btn btn-danger">request</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            </table>
          {% else %}
            <br><div class="metanav2"><em> Oops, No Results Found!</em></div>
              <div class='metanav2'> 
                <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
              </div>
          {% endif %}
        </div>
      </div>
    
  </div>

{% endblock %}