{% extends "layout.html" %}
{% block body %}
    <h2>Part info</h2><br>

    <table id="table" class='show_part_table'>
      <tr>
        <th>PR</th>
        <td>{{part.PR}}</td>
      </tr>
      <tr>
        <th>PO</th>
        <td>{{part.PO}}</td>
      </tr>
      <tr>
        <th>Part</th>
        <td>{{part.part}}</td>
      </tr>
      <tr>
        <th>Project</th>
        <td>{{part.project_name}}</td>
      </tr>
      <tr>
        <th>Requestor</th>
        <td>{{part.requestor}}</td>
      </tr>
      <tr>
        <th>Supplier</th>
        <td>{{part.supplier}}</td>
      </tr>
      <tr>
        <th>Supplier Contact</th>
        <td>{{part.supplier_contact}}</td>
      </tr>
      <tr>
        <th>Item Description</th>
        <td>{{part.item_description}}</td>
      </tr>
      <tr>
        <th>CPN</th>
        <td>{{part.CPN}}</td>
      </tr>
      <tr>
        <th>PID</th>
        <td>{{part.PID}}</td>
      </tr>
      <tr>
        <th>MFG PART#</th>
        <td>{{part.manufacturer_part_num}}</td>
      </tr>
      <tr>
        <th>Serial Number</th>
        {% if part.SN %}
          <td> {{part.SN}} </td>
        {% else %}
          <td> N/A </td>
        {% endif %}
      </tr>
      <tr>
        <th>Date Submitted</th>
        <td>{{part.submit_date}}</td>
      </tr>
      <tr>
        <th>Current User</th>
        {% if part.current_user %}
          <td><a href="{{ url_for('show_user_info', username=part.current_user) }}">{{part.current_user}}</a></td>
        {% else %}
          <td> None </td>
        {% endif %}  
      </tr>
      <tr>
        <th>Current Project</th>
        <td>{{part.current_project}}</td>
      </tr>      
      <tr>
        <th>Tracking #</th>
        <td>{{part.tracking}}</td>
      </tr>      
      <tr>
        <th>Qty</th>
        <td>{{part.qty}}</td>
      </tr>
      <tr>
        <th>Times Used</th>
        {% if part.times_used == 0 %}
            <td> {{part.times_used}} </td>
        {% else %}
            {% if part.SN %}
              <td><a href="{{ url_for('show_history', serialNumber=part.SN) }}">{{part.times_used}}</a></td>
            {% else %}
              <td><a href="{{ url_for('show_history', serialNumber=part.id) }}">{{part.times_used}}</a></td>
            {% endif %}
        {% endif %}
      </tr>
      <tr>
        <th>Status</th>
        <td>{{part.status}}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{part.location}}</td>
      </tr>
   </table>
  
   <div class='metanav2'> 
      {% if user == 'admin' %}
        <a href="{{ url_for('confirm_update', part_id=part.id) }}" class="btn btn-success">Update</a>
        <a href="{{ url_for('confirm_delete', delete_ids=part.id) }}" class="btn btn-danger">Delete</a>
      {%elif user != part.current_user %}
        {%if part.status == 'Available' %}
          <a href="{{ url_for('send_request', part_id=part.id) }}" class="btn btn-primary">Check out</a>
        {%elif part.status != 'Pending' and part.current_user != user %}
          <a href="{{ url_for('send_request', part_id=part.id) }}" class="btn btn-danger">Request part</a>
        {%endif%}
      {%endif%}
      <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
      <a href="{{ url_for('add_more', part_id=part.id) }}" class="btn btn-default">Add more</a>
  </div>
{% endblock %}