{% extends "layout.html" %}
{% block body %}

   <h2>Requests</h2><br>

    {% if user == 'admin' %}
    <div class=metanav>
    <dul class="nav nav-pills">
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('show_requests') }}">Requests</a></li>
        <li role="presentation"><a href="{{ url_for('list_checkedout_parts') }}">Checked Out Parts</a></li>
        <li role="presentation"><a href="{{ url_for('upload_file') }}">Import from spreadsheet</a></li>
    </ul>    
    </div>
    <br>
    {%else%}
    <div class=metanav>
    <dul class="nav nav-pills">  
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation"><a href="{{ url_for('return_part') }}">My Parts</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('show_requests') }}">Requests</a></li>    
    </ul>
    </div>
    <br>
    {%endif%}

  {% if requests %}
      <em>Bellow are the requests form other users to check out parts under your username: </em><br><br>
       <form action="{{ url_for('show_requests') }}" method="post" class="add_entry">
        <table class="table table-striped">
               <th>Part</th>
               <th>Qty</th>
               <th>Requester</th>
               <th>Date Requested</th>
               <th>Project Name</th>
               <th>Action</th>
 
               
           {% for request in requests %}
            <tr>
              <td><a href="{{ url_for('show_part_info', id=request.part_id) }}">{{request.part}}</a></td>
              <td> {{request.qty}} </td>
              <td> {{request.requestor}} </td>
              <td> {{request.request_date}} </td>
              <td> {{request.project_name}} </td>
              <td align=center>
                <a href="{{ url_for('confirm_request', request_id=request.id) }}" class="btn btn-success">Confirm</a>
              </td>
            </tr>
           {% endfor %}
        </table>
      </form><br>
    {% else %}
      <div class="metanav3"><em> Currently you don't have any requests</em></div><br>
    {% endif %}

    {% if requested_parts and user != 'admin' %}
      <em>These are the parts that you have requested and still waiting on confirmation:</em><br><br>
      <div class="metanav2">
        <table class="table table-striped">
            <th>Part</th>
            <th>Qty</th>
            <th>Requested to</th>
            <th>Requested on</th>
            <th>Cancel</th>

            {% for request in requested_parts %}
            <tr>
              <td><a href="{{ url_for('show_part_info', id=request.part_id) }}">{{request.part}}</a></td>
              <td> {{request.qty}} </td>
              <td> {{request.current_user}} </td>
              <td> {{request.request_date}} </td>
              <td>
                <a href="{{ url_for('show_requests', part_id=request.part_id) }}" class="btn btn-default">Cancel</a>
              </td>
            </tr>
            {% endfor %}
        </table>
      </div>
    {% endif %}

    <div class="metanav2">
      <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/> 
    </div>

{% endblock %}