{% extends "layout.html" %}
{% block body %}

   <h2>My Parts</h2><br>
   <div class=metanav>
       <dul class="nav nav-pills">  
        <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('return_part') }}">My Parts</a></li>
        <li role="presentation"><a href="{{ url_for('show_requests') }}">Requests</a></li>    
    </ul>
    </div>
    <br><br>
   {% if parts %}
      <em>Parts you have checked out: </em><br><br>
        <table class="table table-striped">
             <th>part</th>
             <th>Supplier</th>
             <th>Item Description</th>
             <th>CPN</th>
             <th>PID</th>
             <th>MFG Part#</th>
             <th>Project</th>
             <th>Qty</th>
             <th>Checked out on</th>
             <th>Return Date</th>
             <th>Return</th>
               
           {% for part in parts %}
            <tr>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.PID}} </td>
              <td> {{part.manufacturer_part_num}} </td>
              <td> {{part.current_project}} </td>
              <td> {{part.qty}}</td>
              <th> {{part.checkout_date}}
              <td> {{part.return_date}} </td>
              <td>
                <a href="{{ url_for('confirm_return', part_id=part.id) }}" class="btn btn-primary">Return</a>
              </td>
            </tr>
           {% endfor %}
        </table>
        <br>
    {% else %}
      <div class="metanav3"><em> Currently you don't have any parts checked out</em></div><br>
    {% endif %}
    
    
      <div class="metanav2">
        <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/> 
      </div>
{% endblock %}