{% extends "layout.html" %}
{% block body %}
<h1> Update Part </h1><br> 
<em>Please select type of part or enter keyword:</em><br><br>
<div class="metanav2">
	<div class="btn-group" role="group" aria-label="...">
	  <a href="{{ url_for('update_part_search', keyword='DIMM') }}" class="btn btn-default">DIMMs</a>
	  <a href="{{ url_for('update_part_search', keyword='CPU') }}" class="btn btn-default">CPUs</a>
	  <a href="{{ url_for('update_part_search', keyword='HDD') }}" class="btn btn-default">HDDs</a>
	  <a href="{{ url_for('update_part_search', keyword='MEZZ-CARD') }}" class="btn btn-default">MEZZ-Cards</a>
	  <a href="{{ url_for('update_part_search', keyword='RAID-UNIT') }}" class="btn btn-default">RAID-Unit</a>
	  <a href="{{ url_for('update_part_search', keyword='TPM') }}" class="btn btn-default">TPMs</a>
	  <a href="{{ url_for('update_part_search', keyword='PSU') }}" class="btn btn-default">PSUs</a>
	  <a href="{{ url_for('update_part_search', keyword='CHASSIS') }}" class="btn btn-default">Chassis</a>
	  <a href="{{ url_for('update_part_search', keyword='HEATSINK') }}" class="btn btn-default">Heatsinks</a>
	  <a href="{{ url_for('update_part_search', keyword='PROTOTYPE') }}" class="btn btn-default">Prototypes</a>
	  <a href="{{ url_for('update_part_search', keyword='OTHER') }}" class="btn btn-default">Other</a>
	</div>
	<form class="navbar-form navbar-center" role="search" action="{{ url_for('update_part') }}" method='POST'>
	   <em> Keyword search: </em>
	   <div class="form-group">
	      <input type="text" class="form-control" name="keyword" placeholder="Description, CPN, PID, Project Name, supplier"> 
	    </div>
	   <button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>

{% endblock %}