{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-dataTables.js') }}"></script>
  <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#table tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="min-width: 65px; max-width: 90px" placeholder="Search '+title+'" />' );
        } );
 
        // DataTable
        var table = $('#table').DataTable();
 
        // Apply the search
        table.columns().every( function () {
            var that = this;
 
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
  </script>

<h1>Update Part</h1><br>
<em>Results for :{{keyword}}</em>
<br><br>
   
      {% if parts %}
      <table id="table" class="display" cellspacing="0" width="100%">
        <em>Click on Part to display all attributes</em> 
        <thead> 
        <tr>
          <th>PO</th>
          <th>Part</th>
          <th>Supplier</th>
          <th>Item Description</th>
          <th>CPN</th>
          <th>MFG Part#</th>
          <th>Qty</th>
          <th>Location</th>
          <th>Update</th>
        </tr>
      </thead>
      <tfoot> 
        <tr>
          <th>PO</th>
          <th>Part</th>
          <th>Supplier</th>
          <th>Item Description</th>
          <th>CPN</th>
          <th>MFG Part#</th>
          <th>Qty</th>
          <th>Location</th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
         {% for part in parts %}
            <tr>
              <td> {{part.PO}} </td>
              <td><a href="{{ url_for('show_part_info', id=part.id) }}">{{part.part}}</a></td>
              <td> {{part.supplier}} </td>
              <td> {{part.item_description}} </td>
              <td> {{part.CPN}} </td>
              <td> {{part.manufacturer_part_num}} </td>
              <td> {{part.qty}} </td>
              <td> {{part.location}} </td>
                <td>
                  <a href="{{ url_for('confirm_update', part_id=part.id) }}" class="btn btn-success">Update</a>
                </td>
            </tr>
          {% endfor %}
            </tbody>
          </table>
 
            <div class="metanav2">
                <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
            </div>
          {% else %}
              <div class='metanav2'> 
                <em> Currently, there are no {{keyword}}'s logged in our database  </em><br><br>
                <input action='action' type="button" class='btn btn-primary' value='Go Back' onclick="window.history.go(-1); return false;"/>
              </div>
          {% endif %}

{% endblock %}
